In [1]:
import pandas as pd

In [3]:
DemoChar = pd.read_csv("data/processed/rec1data.csv")
DemoChar

,Unnamed: 0,id,rid,sex,birth,race,educ,marital,children,occupat,...,crime05,crime06,crime07,crime08,crime09,crime10,crime11,crime12,crime13,crime14
0,1,1,991,1,18,1,10,4,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,991,1,16,1,10,2,3,20,...,0,0,0,0,0,0,0,0,0,0
2,3,3,991,1,21,1,7,1,0,10,...,0,0,0,0,0,0,0,0,0,0
3,4,4,991,1,32,1,7,1,0,10,...,0,0,0,0,0,0,0,0,0,0
4,5,5,991,1,53,2,11,1,0,10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,999,999,991,1,21,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,1000,991,1,48,1,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,1001,1001,991,1,46,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,1002,1002,991,1,42,2,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,1003,1003,991,1,30,2,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
Crime = pd.read_csv("data/processed/rec2data.csv")
Crime

,Unnamed: 0,id,rid,pub_intox,pet_larc,misc,assault,arson,rape,forgery,...,crim_poss_weap,crim_poss_instr,obst_gov,res_arrest,escape,crim_poss_stolen,reck_endanger,crim_neg_hom,youth_off,crim_tresspasss
0,1,1,992,5,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,2,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3,992,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,5,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,999,999,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1000,1000,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,1001,1001,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,1002,1002,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,1003,1003,992,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
Psych = pd.read_csv("data/processed/psychdata.csv")
Psych

,Unnamed: 0,id,contact,date_contact,facility,address,diagnosis,service,date_term,reason_term
0,1,1,1,600804,1,100,103,0,600808,0
1,2,1,2,600809,2,100,715,1,601130,9
2,3,1,3,640320,1,100,715,0,640401,0
3,4,1,4,640910,2,100,715,0,641027,9
4,5,1,5,641109,1,100,103,0,641113,0
...,...,...,...,...,...,...,...,...,...,...
4543,4544,1000,1,770330,2,100,802,0,0,0
4544,4545,1001,1,770705,1,100,738,0,0,0
4545,4546,1002,1,770805,2,100,802,3,770805,7
4546,4547,1003,1,770727,2,100,437,3,770727,1
4547,4548,1003,2,770727,1,100,234,0,0,0