In [13]:
import pandas as pd
import numpy as np

In [92]:

psychdata = pd.read_csv("../data/processed/psychdata.csv")

In [25]:
rec1data = (   
    pd.read_csv("../data/processed/rec1data.csv")
    .assign(crime_num = (rec1data.iloc[:,12:25] != 0).sum(axis=1))
    .loc[lambda x: x['crime_num']>0]
    .drop(labels = ["Unnamed: 0", "rid"], axis = 1)
)
rec1data

,id,sex,birth,race,educ,marital,children,occupat,arrests,jail,...,crime06,crime07,crime08,crime09,crime10,crime11,crime12,crime13,crime14,crime_num
0,1,1,18,1,10,4,1,0,1,15,...,0,0,0,0,0,0,0,0,0,1.0
1,2,1,16,1,10,2,3,20,1,15,...,0,0,0,0,0,0,0,0,0,1.0
2,3,1,21,1,7,1,0,10,1,15,...,0,0,0,0,0,0,0,0,0,1.0
3,4,1,32,1,7,1,0,10,1,15,...,0,0,0,0,0,0,0,0,0,1.0
4,5,1,53,2,11,1,0,10,1,183,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,613,1,21,1,7,5,0,0,1,15,...,0,0,0,0,0,0,0,0,0,1.0
613,614,1,46,1,16,4,0,0,1,14,...,0,0,0,0,0,0,0,0,0,1.0
614,615,1,50,1,9,1,0,0,1,180,...,0,0,0,0,0,0,0,0,0,1.0
615,616,1,55,2,9,1,0,0,1,90,...,0,0,0,0,0,0,0,0,0,1.0
616,617,1,50,1,8,1,0,0,1,10,...,0,0,0,0,0,0,0,0,0,1.0

In [96]:
psych_data = (
    pd.read_csv("../data/processed/psychdata.csv")
    .assign(contact = psychdata["date_contact"] + 19000000)
    .assign(term = psychdata["date_term"] + 19000000)
    .loc[:,["id", "contact", "term", "diagnosis", "service", "reason_term"]]
)
psych_data

        id   contact      term diagnosis  service  reason_term
0        1  19600804  19600808       103        0            0
1        1  19600809  19601130       715        1            9
2        1  19640320  19640401       715        0            0
3        1  19640910  19641027       715        0            9
4        1  19641109  19641113       103        0            0
...    ...       ...       ...       ...      ...          ...
4543  1000  19770330  19000000       802        0            0
4544  1001  19770705  19000000       738        0            0
4545  1002  19770805  19770805       802        3            7
4546  1003  19770727  19770727       437        3            1
4547  1003  19770727  19000000       234        0            0

[4548 rows x 6 columns]

In [99]:
def load_and_process(url1, url2):
    df1 = (   
        pd.read_csv(url1)
        .assign(crime_num = (rec1data.iloc[:,12:25] != 0).sum(axis=1))
        .loc[lambda x: x['crime_num']>0]
        .drop(labels = ["Unnamed: 0", "rid"], axis = 1)
    )
    
    df2 = (
        pd.read_csv(url2)
        .assign(contact = psychdata["date_contact"] + 19000000)
        .assign(term = psychdata["date_term"] + 19000000)
        .loc[:,["id", "contact", "term", "diagnosis", "service", "reason_term"]]
    )
    
    return df1, df2
    

load_and_process("../data/processed/rec1data.csv", "../data/processed/psychdata.csv")

(      id  sex  birth  race  educ  marital  children  occupat  arrests  jail  \
 0      1    1     18     1    10        4         1        0        1    15
 1      2    1     16     1    10        2         3       20        1    15
 2      3    1     21     1     7        1         0       10        1    15
 3      4    1     32     1     7        1         0       10        1    15
 4      5    1     53     2    11        1         0       10        1   183
 ..   ...  ...    ...   ...   ...      ...       ...      ...      ...   ...
 612  613    1     21     1     7        5         0        0        1    15
 613  614    1     46     1    16        4         0        0        1    14
 614  615    1     50     1     9        1         0        0        1   180
 615  616    1     55     2     9        1         0        0        1    90
 616  617    1     50     1     8        1         0        0        1    10

      ...  crime06  crime07  crime08  crime09  crime10  crime11  crime12  \
 0    ...        0        0        0        0        0        0        0
 1    ...        0        0        0        0        0        0        0
 2    ...        0        0        0        0        0        0        0
 3    ...        0        0        0        0        0        0        0
 4    ...        0        0        0        0        0        0        0
 ..   ...      ...      ...      ...      ...      ...      ...      ...
 612  ...        0        0        0        0        0        0        0
 613  ...        0        0        0        0        0        0        0
 614  ...        0        0        0        0        0        0        0
 615  ...        0        0        0        0        0        0        0
 616  ...        0        0        0        0        0        0        0

      crime13  crime14  crime_num
 0          0        0        1.0
 1          0        0        1.0
 2          0        0        1.0
 3          0        0        1.0
 4          0        0        1.0
 ..       ...      ...        ...
 612        0        0        1.0
 613        0        0        1.0
 614        0        0        1.0
 615        0        0        1.0
 616        0        0        1.0

 [617 rows x 25 columns],
         id   contact      term diagnosis  service  reason_term
 0        1  19600804  19600808       103        0            0
 1        1  19600809  19601130       715        1            9
 2        1  19640320  19640401       715        0            0
 3        1  19640910  19641027       715        0            9
 4        1  19641109  19641113       103        0            0
 ...    ...       ...       ...       ...      ...          ...
 4543  1000  19770330  19000000       802        0            0
 4544  1001  19770705  19000000       738        0            0
 4545  1002  19770805  19770805       802        3            7
 4546  1003  19770727  19770727       437        3            1
 4547  1003  19770727  19000000       234        0            0

 [4548 rows x 6 columns])